# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Android Studio / IntelliJ
*.iml
.idea/
*.ipr
*.iws
local.properties
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Generated
*/out/
*.apk
*.aab
*.ap_
*.dex
