<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TURSO_URL</key>
	<string>https://smartworking-chuucommie.aws-eu-west-1.turso.io</string>
	<key>TURSO_TOKEN</key>
	<string>your_turso_token_here</string>
</dict>
</plist>
